html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

.shutterBtn {
  background-color: white;
  border : black solid;
  border-radius : 50%;
}

.autoBtn {
  background-color: black;
  opacity: 35%;
  border-radius : 50%;
  border: none;
  
  color: #ff9900;
  text-align: center;
}

.poseBtn {
  background-color: #242424;
  border-radius : 8px;
  border: none;
  
  color: white;
  text-align: center;
  
  
}
